{% extends "base.html.twig" %}
{% block stylesheets %}<link rel= "stylesheet" href= "{{ asset('css/app.css') }}"/>{% endblock %}
{% block title %}Erreur 404 - Page introuvable !{% endblock %}

{% block body %}
<h1>Erreur{{status_code}}</h1>
<p>{{status_text}}</p>
{% endblock %}